@import url('__image/comment__image.css');
@import url('__quote/comment__quote.css');
@import url('__author/comment__author.css');

.comment {
  display: flex;
  flex-direction: column;
  max-width: calc((100% - 19px) / 3);
  font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 768px) {
  .comment {
    max-width: 382px;
    align-items: center;
    margin-bottom: 50px;
  }
}
